<div class="container">
  <h3 class="m-4 text-center">{{'Why_Us' | translate}}</h3>
  <div class="row">
    <div class="col-sm m-4 text-center">
      <div class="icon-container d-block">
        <mat-icon class="icon">local_shipping</mat-icon>
      </div>
      <p class="fw-bold">{{'Fast_Shipment' | translate}}</p>
      <p>{{'Fast_Shipment_Highlight' | translate}}</p>
    </div>
    <div class="col-sm m-4 text-center">
      <div class="icon-container">
        <mat-icon class="icon">compost</mat-icon>
      </div>
      <p class="fw-bold">{{'Eco_Packaging' | translate}}</p>
      <p>{{'Eco_Packaging_Highlight' | translate}}</p>
    </div>
    <div class="col-sm m-4 text-center">
      <div class="icon-container">
        <mat-icon class="icon">check</mat-icon>
      </div>
      <p class="fw-bold">{{'Quality_Guarantee' | translate}}</p>
      <p>{{'Quality_Guarantee_Highlight' | translate}}</p>
    </div>
  </div>
</div>
