@use '@angular/material' as mat;
@use '../../../custom-theme' as *;

.logo-text {
  color: mat.m2-get-color-from-palette($primary-palette, 500);
}

mat-toolbar {
  height: 4vw;
  justify-content: space-between;
}

.toolbar-right {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.button {
  background-color: transparent;
  border: none;
}

.country-flag {
  width: 24px;
  height: auto;
  border: 0.5px gray solid;
}
