<mat-toolbar class="mat-toolbar" color="primary">
  <ul class="menu-toolbar">
    <li>
      <div class="menu-category">
        <span class="menu-title">
          <a href="#" class="menu-sale-link">{{'Sale_Capital_Letters' | translate}}</a>
        </span>
      </div>
    </li>

    <li>
      <div class="menu-category" [class.active]="activeMenu === 'plants'" (mouseover)="showMenu('plants')" (mouseleave)="hideMenu('plants')">
        <span class="menu-title">{{'Plants' | translate}}</span>
      </div>

      @if( activeMenu === 'plants' ) {
        <div class="dropdown-submenu" (mouseover)="showMenu('plants')" (mouseleave)="hideMenu('plants')">
          <div class="submenu-columns-container">
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Plants' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Plants' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Bestsellers' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Species' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Calathea_Maranta' | translate}}</a>
              </span>
              <span class="submenu-item">
                  <a href="#" class="submenu-link">{{'Pilea' | translate}}</a>
              </span>
              <span class="submenu-item">
                  <a href="#" class="submenu-link">{{'Philodendron' | translate}}</a>
              </span>
              <span class="submenu-item">
                  <a href="#" class="submenu-link">{{'Monstera' | translate}}</a>
              </span>
              <span class="submenu-item">
                  <a href="#" class="submenu-link">{{'Hoya' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Size' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Big' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Medium' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Small' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Mini' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Other' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Safe_For_Pets' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Easy_Care' | translate}}</a>
              </span>
            </div>
          </div>
        </div>
      }
    </li>

    <li>
      <div class="menu-category" [class.active]="activeMenu === 'potsPlanters'" (mouseover)="showMenu('potsPlanters')" (mouseleave)="hideMenu('potsPlanters')">
        <span class="menu-title">{{'Pots_Planters' | translate}}</span>
      </div>

      @if( activeMenu === 'potsPlanters' ) {
        <div class="dropdown-submenu" (mouseover)="showMenu('potsPlanters')" (mouseleave)="hideMenu('potsPlanters')">
          <div class="submenu-columns-container">
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Pots_Planters' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Pots_Planters' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Size' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Big' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Medium' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Small' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Mini' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Material' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Plastic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Ceramic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Clay' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Pots' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Pots' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Size' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Big' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Medium' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Small' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Mini' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Material' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Plastic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Ceramic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Clay' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Planters' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Planters' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Size' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Big' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Medium' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Small' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Mini' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Material' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Plastic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Ceramic' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Clay' | translate}}</a>
              </span>
            </div>
          </div>
        </div>
      }
    </li>

    <li>
      <div class="menu-category" [class.active]="activeMenu === 'accesories'" (mouseover)="showMenu('accesories')" (mouseleave)="hideMenu('accesories')">
        <span class="menu-title">{{'Accessories' | translate}}</span>
      </div>

      @if(activeMenu === 'accesories') {
        <div class="dropdown-submenu" (mouseover)="showMenu('accesories')" (mouseleave)="hideMenu('accesories')">
          <div class="submenu-columns-container">
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Fertilizers' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Fertilizers' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Watering_Cans' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Watering_Cans' | translate}}</a>
              </span>
              <span class="submenu-column-title">{{'Material' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Metal' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Plastic' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Gardening_Accessories' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Gardening_Accessories' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Gardening_Tools' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Gloves' | translate}}</a>
              </span>
            </div>
            <div class="submenu-column">
              <span class="submenu-column-title">{{'Decorations' | translate}}</span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'All_Decorations' | translate}}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Plant_Stands' | translate }}</a>
              </span>
              <span class="submenu-item">
                <a href="#" class="submenu-link">{{'Hanging_Holders_Macrame_Hangers' | translate}}</a>
              </span>
            </div>
          </div>
        </div>
      }
    </li>
  </ul>
</mat-toolbar>
