.menu {
  width: auto;
  height: auto;
}

.columns-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.menu-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 8px;
}

mat-menu-item {
  text-align: left;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  display: block;
  width: 100%;
}
